<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>[ %date{dd-MM-yyyy HH:mm:ss.SSS} ] [ %thread ] [%logger{0}] [%level] - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/tmp/logs/OPASecretServices.log</File>
        <encoder>
            <pattern>[ %date{dd-MM-yyyy HH:mm:ss.SSS} ] [ %thread ] [%logger{0}] [%level] - %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>5</maxIndex>
            <FileNamePattern>/tmp/logs/OPASecretServices.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.pat" level="INFO"/>
    <logger name="com.saasure" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="logfile"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>
